html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.blog-image {
  max-width: 65%;
  border-radius: 10px;
}

.blog-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --theme-bg: hsl(256, 27%, 19%);
  --theme-bg-gradient-top: var(--theme-bg);
  --theme-bg-gradient-bottom: hsl(251, 29%, 11%);
  --theme-bg-gradient: linear-gradient(
    180deg,
    var(--theme-bg-gradient-top),
    var(--theme-bg-gradient-top)
      calc(6rem + 4rem),
    var(--theme-bg-gradient-bottom)
  );
}
