html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.blog-image {
  max-width: 65%;
  border-radius: 10px;
}

.blog-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
