---
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import "../styles/global.css";
const allPosts = await getCollection("posts");

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body id="body">
    <Header />

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={"/posts/" + post.slug}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>

<style>
  /*
  #body::before {
    background:
      radial-gradient(hsla(255, 60%, 60%), transparent 40%) no-repeat -60vw -40vh /
        105vw 200vh,
      radial-gradient(#44a5ff, transparent 65%) no-repeat
      60vw -100vh / 105vw 180vh,
        darkblue;
  }*/
  #body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    background: var(--theme-bg-gradient);
  }
  
</style>
