---
import Navbar from "./Navbar.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navbar />
  </nav>
</header>

<script>
  import "../scripts/menu.js";
</script>
